.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}
.mat-toolbar{
	min-height: 35px;
  background: none;
}
.mat-toolbar-row{
	height: 35px;
}
::ng-deep .cdk-overlay-container .cdk-overlay-pane {
    /* Do you changes here */
    top: 35px !important;
}
.mat-toolbar p{
	margin: 0;
}
.mat-drawer{
    min-width: 250px;
    padding: 8px 16px;
}
.mat-toolbar p, .mat-toolbar span {
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #808080;
}
.mat-icon{
  margin-top: -10px;
}
.acnt{
  margin-top: -15px;  
}
.mat-button{
  min-width: 40px;
  width: 40px;
  padding: 0;
}
.rytcon {
  width: 120px;
  font-family: 'Montserrat', sans-serif;
}
.bask{
  width: 40px;
}
::ng-deep .mat-badge-content0{
  right: 0 !important;
}
.rytcon span{
  color: #000;
}
.example-spacer {
    flex: 1 1 auto;
}
.brand{
  font-size: 20px !important;
  font-weight: bold;
}
.title-center{
  margin: 0 auto;
}
.badge-dark{
  color: #fff !important;
  padding: 3px 6px;
}
@media(min-width: 958px){
  .mbar {
    display: none;
  }
}
@media(max-width: 767px){
  .mat-toolbar-row{
    padding: 0;
  }
  .wc{ display: none; }
  .container {
    max-width: 740px;
  }
  .rytcon{ width: 40px; }
  .rytcon span{ display: none; }
}