<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <p>axaxdacedas</p>
    <p>axaxdacedas</p>
    <p>axaxdacedas</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <p>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon svgIcon="menbar"></mat-icon>
          </button>
        </p>
        <span>Welcome to our LoremIpsum Store</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>