<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <p><span class="brand">Lorem</span></p>
    <p>HOME</p>
    <p>SHOP</p>
    <p>CONTACT</p>
    <p>ABOUT US</p>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar>
        <mat-toolbar-row class="top-tool">
          <div class="container">
            <mat-toolbar-row>
            <p>
            <button mat-button class="mbar" (click)="sidenav.toggle()">
              <mat-icon svgIcon="menbar"></mat-icon>
            </button>
          </p>
          <span class="wc">Welcome to our LoremIpsum Store</span>
          <span class="example-spacer"></span>
          <button mat-button class="rytcon" [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="acnt" class="acnt"></mat-icon>
            <span> My Account</span>
          </button>
          <button mat-button class="rytcon" [matMenuTriggerFor]="cart">
            <mat-icon svgIcon="bask"></mat-icon>
            <span> Cart </span>
            <span class="badge badge-pill badge-dark">7</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon svgIcon="sett"></mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon svgIcon="hrt"></mat-icon>
              <span> Wishlist</span>
            </button>
          </mat-menu>
          <mat-menu #cart="matMenu">
            <button mat-menu-item>
              <!-- <mat-icon svgIcon="sett"></mat-icon> -->
              <span>Account Settings</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
          </div>
        </mat-toolbar-row>
      
      <mat-toolbar-row class="mid-ro container">
        <span class="brand">Lorem</span>
        <span class="example-spacer"></span>
        <button mat-button><span class="nav-men act">HOME</span></button>
        <button mat-button><span class="nav-men">SHOP</span></button>
        <button mat-button><span class="nav-men">CONTACT</span></button>
        <button mat-button><span class="nav-men">ABOUT US</span></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>